<template name="myTrips">
  <div class="container">
    <div class="row">
      <p>
        <a href="/newtrip" class="btn btn-large red">Add a new roadtrip! <i class="fa fa-road"></i>
        </a>
      </p>
    </div>
    <div class="row">
      <div class="col s12 card">
        <div class="card-content">
          <p>
            this is a trip to Bahamas
          </p>
        </div>
        <div class="card-action">
          <a class="btn waves-effect">Invite People</a>
          <a class="btn btn-flat right">Edit this trip</a>
        </div>
      </div>
    </div>
  </div>
</template>
